{% extends "layout.html" %}

{% block content %}
{#
	{% if global.request.get('step') == 1 %}
	{{ global.request.get('step') }}

	{% endif %}
	{% if global.request.get('step') == 2 %}
	{{ global.request.get('step') }}

	{% endif %}
	{% if global.request.get('step') == 3 %}
	{{ global.request.get('step') }}

	{% endif %}
	{% if global.request.get('step') == 4 %}
	{{ global.request.get('step') }}

	{% endif %}
	{% if global.request.get('step') == 5 %}
	{{ global.request.get('step') }}

	{% endif %}
#}
<div class="container">
<iframe class="img-responsive" src="https://lapeyre-configurateur.herokuapp.com/" style="width:100%; border:none; margin:0; padding:0;"></iframe>
</div>
{% endblock %}