	{% extends "layout.html" %}

{% block content %}
	<section id="univers">
		<div class="container">
			<div class="headerUnivers">
				<img src="/images/headers/{{ global.request.get('universeUrlname') }}.jpg" />
				<p>{{ catalog[global.request.get('universeUrlname')]['universeTitle'] }}</p>
				<span>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Accusantium doloremque laudantium, totam rem aperiam</span>
					<img src="" />
			</div>
			<div class="ancre">
				{% for subuniverse in catalog[global.request.get('universeUrlname')]['subuniverses'] %}
				  <div class="ancres" onclick="javascript:animationScroll('#{{ subuniverse['subuniverseUrlname'] }}');">{{ subuniverse['subuniverseTitle'] }}<img src="/images/fleche.png"></div>
				{% endfor %}
			</div>
			<img src="/images/contents/{{ global.request.get('universeUrlname') }}.jpg" />
			{% for subuniverse in catalog[global.request.get('universeUrlname')]['subuniverses'] %}
				<div class="famille"  id="{{ subuniverse['subuniverseUrlname'] }}">
					<div class="familleLeft">
						<h2 class="h2">{{ subuniverse['subuniverseTitle'] }}</h2>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
						<div class="pinterest">
							{% for family in subuniverse['families'] %}
								{% if loop.indexed < 4 %}
									<div class="pinterestImage{{ loop.index }}">
										<img src="{{ family['familyImage'] }}">
									</div>
								{% endif %}
							{% endfor %}
							<div class="pinterestTitre">
								<p><br/><img src="/images/pin.png" /></p>
								<p>{{ subuniverse['subuniverseTitle'] }}</p>
								<span class="pinterestVoir">Voir</span>
							</div>
						</div>
					</div>
					<div class="familleRight">
						{% if subuniverse['subuniverseUrlname'] == 'fenetres-portes-fenetres-battantes' %}
								{% for gamme in ['pin','pvc','chene','aluminium'] %}
								<fieldset class="ssfamilleBloc" onclick="location.href='liste.html?famille=Portes d'entrée&amp;univers=Portes'">
								  <legend>Pin</legend>
								  <div class="ssfamille" style="background:url(1)"></div>
								</fieldset>
								{% endfor %}
						{% else %}
							{% for family in subuniverse['families'] %}
								<fieldset class="ssfamilleBloc" onclick="location.href='/{{ global.request.get('universeUrlname') }}-CCU0000/{{ subuniverse['subuniverseUrlname'] }}-CCN0000/{{ family['familyUrlname'] }}-CCN0000/'">
								  <legend>{{ family.familyName }}</legend>
								  <div class="ssfamille" style="background:url({{ family['familyImage'] }})"></div>
								</fieldset>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			{% endfor %}
			<img src="/images/footerFenetres.jpg" />
		</div>
	</section>
	<!--
$('header .ancre').append('<div class="ancres" onclick="javascript:animationScroll(\'#famille' + i + '\')">
' + familles[i] + '<img src="fleche.png"/>
</div>
');
$('section#univers').append('<div class="famille ' + familleCss + '" id="famille' + i + '">
<div class="familleLeft">
<h2 class="h2">
' + familles[i] + '</h2>
-->

{% endblock %}