{% extends "layout.html" %}

{% block content %}

	<section id="univers">
		<div class="container">
			<div class="headerUnivers">
				<img src="/images/headers/{{ global.request.get('universeUrlName') }}.jpg" />
				<p>{{ global.request.get('universeUrlName') }}</p>
				<p>{{ catalog.get(global.request.get('universeUrlName')) }}</p>
				<span>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Accusantium doloremque laudantium, totam rem aperiam</span>
					<img src="" />
			</div>
			<div class="ancre">
			  <div class="ancres" onclick="javascript:animationScroll('#famille0')">Fenêtres<img src="/images/fleche.png"></div>
			  <div class="ancres" onclick="javascript:animationScroll('#famille1')">Porte-fenêtres<img src="/images/fleche.png"></div>
			  <div class="ancres" onclick="javascript:animationScroll('#famille2')">Chassis<img src="/images/fleche.png"></div>
			  <div class="ancres" onclick="javascript:animationScroll('#famille3')">Abbattants<img src="/images/fleche.png"></div>
			</div>
			<img src="/images/contents/{{ global.request.get('universeUrlName') }}.jpg" />






<!--
$('header .ancre').append('<div class="ancres" onclick="javascript:animationScroll(\'#famille' + i + '\')">
' + familles[i] + '<img src="fleche.png"/>
</div>
');
$('section#univers').append('<div class="famille ' + familleCss + '" id="famille' + i + '">
<div class="familleLeft">
<h2 class="h2">
' + familles[i] + '</h2>
<p>
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
<div class="pinterest">
<div class="pinterestImage1">
</div>
<div class="pinterestImage2">
</div>
<div class="pinterestImage3">
</div>
<div class="pinterestTitre">
<p>
<br/>
<img src="pin.png" />
</p>
<p>
' + familles[i] + '</p>
<span class="pinterestVoir">
Voir</span>
</div>
</div>
</div>
<div class="familleRight">
</div>
</div>
');
-->

{% for i in 0..3 %}

	<div class="famille"  id="famille' + i + '"> <!-- ' + familleCss + '-->
		<div class="familleLeft">
			<h2 class="h2">familles[i]</h2>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
			<div class="pinterest">
				<div class="pinterestImage1">
				</div>
				<div class="pinterestImage2">
				</div>
				<div class="pinterestImage3">
				</div>
				<div class="pinterestTitre">
					<p>
						<br/>
						<img src="pin.png" />
					</p>
					<p>
						' + familles[i] + '</p>
						<span class="pinterestVoir">
							Voir</span>
						</div>
					</div>
				</div>
				<div class="familleRight">
					<ul>
					{% for row in subfamilies %}
						<li>
							{{ row }}</li>

						{% endfor %}
					</ul>
				</div>
			</div>
		{% endfor %}
		<img src="/images/footerFenetres.jpg" />
	</div>
</section>

{% endblock %}
